md-list-item.active {
	h3 {
		font-weight: bold !important;
	}
}

md-list-item{
    h3 {
        max-width:175px;
        overflow:visible;
    }
}


button.md-icon-button.extraSmall {
    margin: 0 6px;
    height: 30px;
    min-width: 0;
    line-height: 16px;
    padding: 6px;
    width: 30px;
    border-radius: 50%;
}

md-content {
    overflow-x: hidden;
    overflow-y: auto;
}