<md-toolbar>
  <div class="md-toolbar-tools">
    <h3>
      <span>{{ vm.title }}</span>
    </h3>
    <span flex></span>
	
	<md-icon ng-hide="!vm.connected()" md-font-set="material-icons" aria-label="Connected"> mood 
  		<md-tooltip md-direction="left">
          Conectado {{ vm.who() }}
        </md-tooltip>
	</md-icon> 
	<md-icon ng-hide="vm.connected()" md-font-set="material-icons" aria-label="Disconnected"> mood_bad 
	  <md-tooltip md-direction="left">
          No Conectado
        </md-tooltip>
    </md-icon> 
      
    </div>
</md-toolbar>
